In [177]:
import pandas as pd

In [179]:
df = pd.read_excel("./data/서울교통공사_에스컬레이터 설치 정보(1-8호선).xlsx", header = 1, skipfooter = 1)

In [180]:
df.head(10)

   연번\n(총괄정렬용)  연번 호선      역명  호기     승강기번호       설치위치 운행구간(자체조사) 운행방향
0          1.0   1  1  서울역(1)   1  1800-448  연결통로(4호선)      B2-B1   상행
1          2.0   2  1  서울역(1)   2  1806-600   남영 방면2-3      B1-B2   하행
2          3.0   3  1  서울역(1)   3  1806-599   시청 방면9-3      B2-B1   상행
3          4.0   4  1  서울역(1)   4  1810-816     4번 출입구      B1-1F   상행
4          5.0   5  1  서울역(1)   5  1810-817     4번 출입구      1F-B1   하행
5          6.0   6  1   시청(1)   1  1808-119     5번 출입구      1F-B1   하행
6          7.0   7  1   시청(1)   2  1808-120     5번 출입구      B1-1F   상행
7          8.0   8  1   시청(1)   3  1809-239     1번 출입구      B1-1F   상행
8          9.0   9  1      종각   1  1810-730     1번 출입구      1F-B1   하행
9         10.0  10  1      종각   2  1810-729     1번 출입구      B1-1F   상행

In [181]:
df.tail(10)

      연번\n(총괄정렬용)    연번 호선      역명  호기     승강기번호    설치위치 운행구간(자체조사) 운행방향
1861          NaN  1862  8  남한산성입구   3  3805-603     대합실      B2-B1   상행
1862          NaN  1863  8  남한산성입구   4  3805-604     대합실      B1-B2   하행
1863          NaN  1864  8   단대오거리   1  3802-053  1번 출입구      B1-1F   상행
1864          NaN  1865  8   단대오거리   2  3802-054  1번 출입구      1F-B1   하행
1865          NaN  1866  8   단대오거리   3  3805-601     대합실      B1-B2   하행
1866          NaN  1867  8   단대오거리   4  3805-602     대합실      B2-B1   상행
1867          NaN  1868  8   단대오거리   5  3811-916  3번 출입구      B1-1F   상행
1868          NaN  1869  8   단대오거리   6  3811-917  3번 출입구      1F-B1   하행
1869          NaN  1870  8   모란(8)   1  3802-183     대합실      B1-B2   하행
1870          NaN  1871  8   모란(8)   2  3802-184     대합실      B2-B1   상행

In [182]:
df.columns

Index(['연번\n(총괄정렬용)', '연번', '호선', '역명', '호기', '승강기번호', '설치위치', '운행구간(자체조사)',
       '운행방향'],
      dtype='object')

In [183]:
df = df.drop(columns=['연번\n(총괄정렬용)', '연번', '승강기번호', '설치위치', '운행구간(자체조사)',
       '운행방향'])

In [184]:
df = df.rename(columns={"호선":"노선명"})

In [185]:
df["노선명"] = df["노선명"].astype(str)

In [186]:
df["노선명"] = df["노선명"].str.replace("(연)", "")

In [195]:
df["노선명"] = df["노선명"] + "호선"

In [197]:
for i in range(1, 9):
    df["역명"] = df["역명"].str.replace(f'({i})', '')

In [199]:
df.head()

   노선명   역명  호기
0  1호선  서울역   1
1  1호선  서울역   2
2  1호선  서울역   3
3  1호선  서울역   4
4  1호선  서울역   5

In [201]:
ndf = df.groupby(['노선명', '역명'])[["호기"]].max()

In [203]:
ndf = ndf.rename(columns={"호기":"엘리베이터 대수"})

In [205]:
ndf = ndf.reset_index()

In [207]:
ndf.head()

   노선명   역명  엘리베이터 대수
0  1호선  동대문         1
1  1호선  동묘앞        12
2  1호선  서울역         5
3  1호선   시청         3
4  1호선  제기동         2

In [209]:
# ndf.to_csv("./result_files/elevator.csv", index=False, encoding="utf-8-sig")

In [211]:
df9 = pd.read_excel("./data/9호선 편의시설 개수 정보.xlsx")

In [213]:
df9.columns

Index(['노선명', '역명', '지하상가', '편의점(역내)', '공중화장실', '자전거보관소', '엘리베이터', '에스컬레이터',
       '물품보관함', '무인민원발급기', '소화기'],
      dtype='object')

In [215]:
df9 = df9[['노선명', '역명', '엘리베이터']]

In [217]:
df9 = df9.rename(columns={"엘리베이터":"엘리베이터 대수"})

In [219]:
elevator_count = pd.concat([ndf, df9], axis=0, ignore_index=True)

In [223]:
elevator_count.to_csv("./result_files/elevator_include9.csv", index=False, encoding="utf-8-sig")