In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/서울교통공사_에스컬레이터 설치 정보(1-8호선).xlsx", header = 1, skipfooter = 1)

In [4]:
df.head()

   연번\n(총괄정렬용)  연번 호선      역명  호기     승강기번호       설치위치 운행구간(자체조사) 운행방향
0          1.0   1  1  서울역(1)   1  1800-448  연결통로(4호선)      B2-B1   상행
1          2.0   2  1  서울역(1)   2  1806-600   남영 방면2-3      B1-B2   하행
2          3.0   3  1  서울역(1)   3  1806-599   시청 방면9-3      B2-B1   상행
3          4.0   4  1  서울역(1)   4  1810-816     4번 출입구      B1-1F   상행
4          5.0   5  1  서울역(1)   5  1810-817     4번 출입구      1F-B1   하행

In [5]:
df.tail()

      연번\n(총괄정렬용)    연번 호선     역명  호기     승강기번호    설치위치 운행구간(자체조사) 운행방향
1866          NaN  1867  8  단대오거리   4  3805-602     대합실      B2-B1   상행
1867          NaN  1868  8  단대오거리   5  3811-916  3번 출입구      B1-1F   상행
1868          NaN  1869  8  단대오거리   6  3811-917  3번 출입구      1F-B1   하행
1869          NaN  1870  8  모란(8)   1  3802-183     대합실      B1-B2   하행
1870          NaN  1871  8  모란(8)   2  3802-184     대합실      B2-B1   상행

In [6]:
df.columns

Index(['연번\n(총괄정렬용)', '연번', '호선', '역명', '호기', '승강기번호', '설치위치', '운행구간(자체조사)',
       '운행방향'],
      dtype='object')

In [7]:
# 호선 -> 노선명
df.columns = ['연번\n(총괄정렬용)', '연번', '노선명', '역명', '호기', '승강기번호', '설치위치', '운행구간(자체조사)',
       '운행방향']

In [8]:
df.dtypes

연번\n(총괄정렬용)    float64
연번               int64
노선명             object
역명              object
호기               int64
승강기번호           object
설치위치            object
운행구간(자체조사)      object
운행방향            object
dtype: object

In [15]:
# 데이터 타입을 확인
type(df.iloc[0, 0])

numpy.float64

In [17]:
# string타입으로 모두 변경
df["노선명"] = df["노선명"].astype(str)

In [19]:
# (연)을 모두 삭제
df["노선명"]  = df["노선명"].str.replace("(연)", "")

In [21]:
df["노선명"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8'], dtype=object)

In [23]:
# 호선명 뒤에 "호선" 붙이기
df["노선명"] = df["노선명"] + "호선"

In [25]:
df.columns = ['연번\n(총괄정렬용)', '연번', '노선명', '역명', '호기', '승강기번호', '설치위치', '운행구간(자체조사)',
       '운행방향']

In [27]:
# 불필요한 컬럼 삭제
df = df.drop(columns=["연번\n(총괄정렬용)", "연번", "승강기번호", "설치위치", "운행구간(자체조사)", "운행방향"])

In [29]:
df.head()

   노선명      역명  호기
0  1호선  서울역(1)   1
1  1호선  서울역(1)   2
2  1호선  서울역(1)   3
3  1호선  서울역(1)   4
4  1호선  서울역(1)   5

In [31]:
df.tail()

      노선명     역명  호기
1866  8호선  단대오거리   4
1867  8호선  단대오거리   5
1868  8호선  단대오거리   6
1869  8호선  모란(8)   1
1870  8호선  모란(8)   2

In [33]:
# df["역명"].str.replace("(1)", "")

In [35]:
# 역명 뒤의 (숫자) 삭제
for i in range(1, 10):
    df["역명"] = df["역명"].str.replace(f'({i})', '')

In [37]:
df.head()

   노선명   역명  호기
0  1호선  서울역   1
1  1호선  서울역   2
2  1호선  서울역   3
3  1호선  서울역   4
4  1호선  서울역   5

In [39]:
df["노선명"].unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선'],
      dtype=object)

In [41]:
df["노선명"].str.replace("(연)", "")

0       1호선
1       1호선
2       1호선
3       1호선
4       1호선
       ...
1866    8호선
1867    8호선
1868    8호선
1869    8호선
1870    8호선
Name: 노선명, Length: 1871, dtype: object

In [43]:
# 노선명 8호선 뒤의 (연) 삭제
df["노선명"] = df["노선명"].str.replace("(연)", "")

In [45]:
df.head()

   노선명   역명  호기
0  1호선  서울역   1
1  1호선  서울역   2
2  1호선  서울역   3
3  1호선  서울역   4
4  1호선  서울역   5

In [47]:
df["역명"].unique()

array(['서울역', '시청', '종각', '종로3가', '동대문', '동묘앞', '제기동', '청량리', '을지로입구',
       '을지로4가', '동대문역사문화공원', '신당', '상왕십리', '왕십리', '한양대', '뚝섬', '성수', '용두',
       '건대입구', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장', '삼성', '선릉',
       '역삼', '교대', '서초', '방배', '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방',
       '구로디지털단지', '대림', '신도림', '양천구청', '신정네거리', '문래', '영등포구청', '당산', '합정',
       '홍대입구', '신촌', '이대', '아현', '충정로', '구파발', '연신내', '불광', '녹번', '독립문',
       '경복궁', '안국', '을지로3가', '동대입구', '약수', '금호', '옥수', '압구정', '신사',
       '고속터미널', '남부터미널', '양재', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서',
       '가락시장', '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문', '수유', '미아',
       '미아사거리', '길음', '성신여대입구', '한성대입구', '혜화', '충무로', '명동', '회현', '삼각지',
       '신용산', '이촌', '총신대입구', '남태령', '방화', '김포공항', '송정', '마곡', '우장산', '화곡',
       '까치산', '신정', '목동', '오목교', '양평', '영등포시장', '신길', '여의도', '여의나루', '마포',
       '공덕', '애오개', '서대문', '광화문', '신금호', '행당', '마장', '답십리', '장한평', '군자',
       '아차산', '광나루', '천호', '강동', '길동', '굽은다리', '명일', '고덕', '상일동', '둔촌동',
       '올림픽공원', '방이', '개롱', '거여', '마천', '강일', '미사', '하남풍산', '하남시청',
       '하남검단산', '응암', '역촌', '독바위', '구산', '새절', '증산', '디지털미디어시티', '월드컵경기장',
       '마포구청', '망원', '상수', '광흥창', '대흥', '효창공원앞', '녹사평', '이태원', '한강진',
       '버티고개', '청구', '창신', '보문', '안암', '고려대', '월곡', '상월곡', '돌곶이', '석계',
       '태릉입구', '화랑대', '봉화산', '신내', '수락산', '마들', '중계', '하계', '공릉', '먹골',
       '중화', '상봉', '면목', '사가정', '용마산', '중곡', '어린이대공원', '자양', '청담', '강남구청',
       '학동', '논현', '반포', '내방', '이수', '남성', '숭실대입구', '상도', '장승배기',
       '신대방삼거리', '보라매', '신풍', '남구로', '가산디지털단지', '철산', '광명사거리', '천왕', '온수',
       '암사역사공원', '암사', '강동구청', '몽촌토성', '송파', '문정', '장지', '복정', '남위례',
       '산성', '남한산성입구', '단대오거리', '모란'], dtype=object)

In [49]:
df.head()

   노선명   역명  호기
0  1호선  서울역   1
1  1호선  서울역   2
2  1호선  서울역   3
3  1호선  서울역   4
4  1호선  서울역   5

In [51]:
ndf = df.groupby(["노선명", "역명"])[["호기"]].max()

In [53]:
# 컬럼명 변경
ndf = ndf.rename(columns={"호기" : "에스컬레이터 대수"})

In [55]:
# 인덱스 초기화
ndf = ndf.reset_index()

In [57]:
ndf

     노선명      역명  에스컬레이터 대수
0    1호선     동대문          1
1    1호선     동묘앞         12
2    1호선     서울역          5
3    1호선      시청          3
4    1호선     제기동          2
..   ...     ...        ...
247  8호선      송파          4
248  8호선      암사          4
249  8호선  암사역사공원         12
250  8호선      잠실          5
251  8호선      장지          8

[252 rows x 3 columns]

In [59]:
# csv파일로 저장
# ndf.to_csv("./result_files/escalator_cnt.csv", index=False, encoding="utf-8-sig")

In [64]:
df9 = pd.read_excel("./data/9호선 편의시설 개수 정보.xlsx")

In [66]:
df9.head()

   노선명    역명 지하상가  편의점(역내)  공중화장실  자전거보관소  엘리베이터  에스컬레이터  물품보관함  무인민원발급기  소화기
0  9호선    개화    -        0      1      30      2       4      1        0   58
1  9호선  김포공항    -        2      2       0      3      18      1        0   52
2  9호선  공항시장    -        1      1      30      3      18      1        0  102
3  9호선   신방화    -        0      1      30      4      22      1        0   62
4  9호선  마곡나루    -        1      1      40      4      14      1        1   51

In [68]:
df9 = df9[["노선명","역명","에스컬레이터"]]

In [80]:
df9.head()

   노선명    역명  에스컬레이터 대수
0  9호선    개화          4
1  9호선  김포공항         18
2  9호선  공항시장         18
3  9호선   신방화         22
4  9호선  마곡나루         14

In [72]:
df9 = df9.rename(columns = {"에스컬레이터":"에스컬레이터 대수"})

In [74]:
escalator_count = pd.concat([ndf,df9],axis=0,ignore_index=True)

In [76]:
escalator_count

     노선명      역명  에스컬레이터 대수
0    1호선     동대문          1
1    1호선     동묘앞         12
2    1호선     서울역          5
3    1호선      시청          3
4    1호선     제기동          2
..   ...     ...        ...
285  9호선    송파나루          6
286  9호선    한성백제         10
287  9호선   올림픽공원         14
288  9호선    둔춘오륜          8
289  9호선  중앙보훈병원         10

[290 rows x 3 columns]

In [78]:
# csv파일로 저장
escalator_count.to_csv("./result_files/escalator_cnt_include9.csv", index=False, encoding="utf-8-sig")