In [108]:
import pandas as pd

In [110]:
df = pd.read_csv("./data/서울교통공사_스마트도서관_20240618.csv", encoding="euc-kr")

In [112]:
df.head()

   연번  호선   역명  설치대수 계약자(업체명)    기기종류
0   1   3   수서     1     강남구청  스마트도서관
1   2   7   청담     1     강남구청  스마트도서관
2   3   3  압구정     1     강남구청  스마트도서관
3   4   8   천호     1   강동문화재단  스마트도서관
4   5   5  상일동     1   강동문화재단  스마트도서관

In [114]:
df.tail()

    연번  호선     역명  설치대수         계약자(업체명)     기기종류
83  84   7     철산     1  평생학습사업본부(철산도서관)   스마트도서관
84  85   7  광명사거리     1  평생학습사업본부(광명도서관)   스마트도서관
85  86   7  광명사거리     1  평생학습사업본부(광명도서관)  상호대차대출기
86  87   7     철산     1  평생학습사업본부(하안도서관)    도서반납함
87  88   7  광명사거리     1  평생학습사업본부(하안도서관)    도서반납함

In [116]:
df = df[["호선", "역명", "설치대수"]]

In [118]:
df.columns

Index(['호선', '역명', '설치대수'], dtype='object')

In [120]:
df = df.rename(columns={"호선":"노선명","설치대수":"스마트도서관 개수"})

In [122]:
df = df.sort_values(["노선명", "역명"])

In [124]:
df.head()

    노선명   역명  스마트도서관 개수
39    1   시청          1
19    2   구의          1
16    2  낙성대          1
22    2   대림          1
15    2   봉천          1

In [126]:
df["노선명"] = df["노선명"].astype(str)

In [128]:
df["노선명"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8'], dtype=object)

In [130]:
df["노선명"] = df["노선명"] + "호선"

In [132]:
# 9호선 붙이기
df9 = pd.read_excel("./data/9호선 편의시설 개수 정보_스마트도서관추가.xlsx")

In [134]:
df9.head()

,노선명,역명,지하상가,편의점(역내),공중화장실,자전거보관소,엘리베이터,에스컬레이터,물품보관함,무인민원발급기,소화기,스마트도서관
0,9호선,개화,-,0,1,30,2,4,1,0,58,0
1,9호선,김포공항,-,2,2,0,3,18,1,0,52,0
2,9호선,공항시장,-,1,1,30,3,18,1,0,102,0
3,9호선,신방화,-,0,1,30,4,22,1,0,62,0
4,9호선,마곡나루,-,1,1,40,4,14,1,1,51,0

In [136]:
df9 = df9[["노선명", "역명", "스마트도서관"]]

In [138]:
df9 = df9.rename(columns = {"스마트도서관":"스마트도서관 개수"})

In [140]:
smart_lib = pd.concat([df,df9], axis=0, ignore_index=True)

In [142]:
smart_lib.to_csv("./result_files/smart_lib_include9.csv", index=False, encoding="utf-8-sig")

In [144]:
smt_df = pd.read_csv("./result_files/smart_lib_include9.csv")

In [146]:
smt_df.head()

   노선명   역명  스마트도서관 개수
0  1호선   시청          1
1  2호선   구의          1
2  2호선  낙성대          1
3  2호선   대림          1
4  2호선   봉천          1

In [148]:
smt_df.tail()

     노선명      역명  스마트도서관 개수
121  9호선    송파나루          0
122  9호선    한성백제          0
123  9호선   올림픽공원          0
124  9호선    둔춘오륜          0
125  9호선  중앙보훈병원          1