In [124]:
import pandas as pd

In [126]:
df = pd.read_csv("./data/서울교통공사_무인민원발급기현황(1-8호선).csv", encoding = "euc-kr")

In [128]:
df.head()

,연번,호선,역명,기기종류,지상지하구분,역층,상세위치,설치대수,계약자(업체명),전화번호
0,1,1,종각,무인민원발급기,지하,B1,대합실(종로타워 가는 방향),1,종로구청,02-2148-1913
1,2,2,삼성,무인민원발급기,지하,B1,표 내는 곳(가) 옆(1번 2번 출입구 근처),1,강남구청,02-3423-5381
2,3,2,선릉,무인민원발급기,지하,B2,네이처리퍼블릭 옆,2,강남구청,02-3423-5381
3,4,2,강남,무인민원발급기,지하,B1,1번 12번 출입구 사이,1,강남구청,02-3423-5381
4,5,2,역삼,무인민원발급기,지하,B1,5번 6번 7번 8번 출구 근처,1,강남구청,02-3423-5381

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연번        71 non-null     int64
 1   호선        71 non-null     int64
 2   역명        71 non-null     object
 3   기기종류      71 non-null     object
 4   지상지하구분    71 non-null     object
 5   역층        71 non-null     object
 6   상세위치      71 non-null     object
 7   설치대수      71 non-null     int64
 8   계약자(업체명)  71 non-null     object
 9   전화번호      71 non-null     object
dtypes: int64(3), object(7)
memory usage: 5.7+ KB

In [132]:
df.columns

Index(['연번', '호선', '역명', '기기종류', '지상지하구분', '역층', '상세위치', '설치대수', '계약자(업체명)',
       '전화번호'],
      dtype='object')

In [134]:
df = df.drop(columns=['연번', '기기종류', '지상지하구분', '역층', '상세위치', '계약자(업체명)',
       '전화번호'])

In [136]:
df.head()

   호선  역명  설치대수
0   1  종각     1
1   2  삼성     1
2   2  선릉     2
3   2  강남     1
4   2  역삼     1

In [138]:
len(df["역명"].unique())

71

In [140]:
df.head()

   호선  역명  설치대수
0   1  종각     1
1   2  삼성     1
2   2  선릉     2
3   2  강남     1
4   2  역삼     1

In [142]:
df.columns

Index(['호선', '역명', '설치대수'], dtype='object')

In [144]:
df.columns = ['노선명', '역명', '무인민원 발급기 대수']

In [146]:
df["노선명"] = df["노선명"].astype(str)

In [148]:
df["노선명"] = df["노선명"] +  "호선"

In [150]:
df.head()

   노선명  역명  무인민원 발급기 대수
0  1호선  종각            1
1  2호선  삼성            1
2  2호선  선릉            2
3  2호선  강남            1
4  2호선  역삼            1

In [152]:
# df.to_csv("./result_files/unmanned_machine.csv", index = False, encoding="utf-8-sig")

In [154]:
df9 = pd.read_excel("./data/9호선 편의시설 개수 정보.xlsx")

In [156]:
df9.columns

Index(['노선명', '역명', '지하상가', '편의점(역내)', '공중화장실', '자전거보관소', '엘리베이터', '에스컬레이터',
       '물품보관함', '무인민원발급기', '소화기'],
      dtype='object')

In [158]:
df9 = df9[['노선명','역명','무인민원발급기']]

In [160]:
df9.head()

   노선명    역명  무인민원발급기
0  9호선    개화        0
1  9호선  김포공항        0
2  9호선  공항시장        0
3  9호선   신방화        0
4  9호선  마곡나루        1

In [162]:
df9 = df9.rename(columns={"무인민원발급기":"무인민원 발급기 대수"})

In [164]:
df_unman = pd.concat([df, df9], axis=0, ignore_index=True)

In [168]:
df_unman.to_csv("./result_files/unmaned_machine_include9.csv", index=False, encoding="utf-8-sig")